    header {
        position: sticky;
        height: 10vw;
        overflow: visible;
    }

    .header_bg {
        position: absolute;
        top: -10px;
        bottom: 0;
        left: -15px;
        right: 0px;
        background-color: rgb(220, 95, 35);
        width: 120%;
        height: 100%;
        transform: skewY(-3deg);
        transform-origin: top left;
        filter: drop-shadow(0 10px 5px rgb(0, 0, 0));
        overflow: visible;
        transition: 0.3s;
    }

    .header_bg:hover{
        background-color: rgb(225, 120, 70);
        transition: 0.3s;
        top: 20px;
        text-shadow: 5px 5px black;
    }

    h1 {
        margin: 0;
        font: 40px "courier";
        text-align: left;
    }

    header h1 {

        top: 2vw;
        left: 3vw;
        font: 6vw "courier";
        font-weight: bold;
        position: relative;
        color: whitesmoke;
    }

    body {
        background-color: rgb(44, 44, 44);
    }

    .card {
        background-color: lightgray;
        box-shadow: 0px 15px 5px black;
        transition: 0.3;
        padding: 20px 40px;
        margin: 20px 5%;
    } 

    .navBtn {
        position: relative;
        display: none;
        background-color: orangered;
        padding: 16px;
        border: none;
    }

    .nav-bar {
        position: relative;
        display: inline-block;
    }

    .nav-bar-content {
        margin-top: 2vw;
        display: none;
        position: absolute;
        background-color: lightgrey;
        width: 20vw;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        text-shadow: none;
        font: 2vw "courier";
    }

    .nav-bar-content a {
        padding: 12px 16px;
        display: block;
        background-color: orangered;
        text-decoration: none;
        font-weight: bold;
        color: whitesmoke;
    }

    .nav-bar-content a:hover{
        background-color: rgb(208, 56, 0);
    }

    .header_bg:hover .nav-bar-content, .nav-bar:hover {
        display: block;
        transition: 0.3s;
    }